<div class="card my-2">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ site.baseurl }}/blog/archives/">
                <i class="fas fa-book" aria-hidden="true"></i>
                Archives
            </a>
        </h5>
        <p class="card-text">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="categories-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="true">
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tags-tab" data-toggle="tab" href="#tags" role="tab" aria-controls="tags" aria-selected="false">
                        Tags
                    </a>
                </li>
            </ul>

            <div class="tab-content" id="categories-tags">
                <div class="tab-pane fade show active" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                    <ul class="list-inline">
                        {% include libs/list_categories.html %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="tags" role="tabpanel" aria-labelledby="tags-tab">
                    <ul class="list-inline">
                        {% include libs/list_tags.html %}
                    </ul>
                </div>
            </div>
        </p>
    </div>
</div>