<div class="card my-2">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ site.baseurl }}/blog/archives/">
                <i class="far fa-file-alt" aria-hidden="true"></i>
                Recent Posts
            </a>
        </h5>
        <p class="card-text">
            <ul class="list-unstyled">
                {% for post in site.posts limit: site.recent_posts %}
                    <li>
                        <p>
                            {{ post.date | date: "%d-%m-%Y" }}: <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        </p>
                    </li>
                    {% unless forloop.last %}
                        <li class="divider"></li>
                    {% endunless %}
                {% endfor %}
            </ul>
        </p>
    </div>
</div>