---
layout: default
group: Blog
title: Home
---
<div class="col-xl-8 col-lg-9 mt-2">
{% include libs/truncate_start %}
{% for post in paginator.posts limit: 1 %}
	<!-- Featured Article -->
	<div class="jumbotron py-4">
		<h1 class="display-4"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
		<p class="lead">
			<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
		</p>
		<hr class="my-4">
		<img src="{{ site.baseurl }}{{ post.related_image.path }}" alt="{{ post.related_image.alt }}" />
		<p>
			{% include libs/thumbnail %}
			{% comment %} {% include libs/truncate_exec %} {% endcomment %} 
			{{ post.excerpt }}
		</p>
		<a class="btn btn-primary btn-lg" href="{{ site.baseurl }}{{ post.url }}" role="button">Read This &raquo;</a>
	</div>
{% endfor %}
{% assign m = 0 %}
{% capture n %}{{ site.paginate | minus: 1 }}{% endcapture %}
{% for post in paginator.posts limit: n offset: 1 %}
	{% if m == 0 %}
		<!-- Followed Articles -->
		<div class="row">
	{% endif %}
			<div class="col-sm-6 col-md-4 my-1">
				{% include libs/thumbnail %}
				<h4>
					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
				</h4>
				<h5>
					<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
				</h5>
				<div class="card-image">
					<img src="{{ site.baseurl }}{{ post.related_image.path }}" alt="{{ post.related_image.alt }}" />
				</div>
				<div class="content">
					{{ post.excerpt }}
				</div>
				<a class="btn btn-secondary btn-sm" href="{{ site.baseurl }}{{ post.url }}" class="btn">Read this &raquo;</a>
			</div>
	{% capture m %}{{ m | plus: 1 }}{% endcapture %}
	{% if forloop.last %}
		</div><!--/row-fluid-->
		{% assign m = 0 %}
	{% endif %}
{% endfor %}
{% include libs/truncate_end %}
{% include pagenation.html %}
<hr class="d-lg-none" />
</div>