{% assign post_meta = true %}
	<div class="card my-2 flex-fill">
		<div class="card-body">
			<h5 class="card-title">
				<a href="#">
					<i class="far fa-file" aria-hidden="true"></i>
					Post Details
				</a>
			</h5>
			<p class="card-text">
				<ul class="list-unstyled">
					<li id="meta-user">
						<ul class="list-unstyled author-list">
							<li class="list-inline-item">
								<span class="meta">
									<i class="fa fa-user"></i> Author:
								</span>
							</li>
							<li class="list-inline-item">
								{{ site.author }}
							</li>
						</ul>
					</li>
					{% if page.categories.first %}
						<li id="meta-category">
							<ul class="list-unstyled tag-list">
								<li class="list-inline-item">
									<span class="meta">
										<i class="fa fa-user"></i> Categories:
									</span>
								</li>
								{% include libs/list_categories.html %}
							</ul>
						</li>
					{% endif %}
					{% if page.categories.first %}
						<li id="meta-tags">
							<ul class="list-unstyled tag-list">
								<li class="list-inline-item">
									<span class="meta">
										<i class="fas fa-tags"></i> Tags:
									</span>
								</li>
								{% include libs/list_tags.html %}
							</ul>
						</li>
					{% endif %}
				</ul>
			</p>
		</div>
	</div>
{% assign post_meta = nil %}