---
layout: general
group: Blog
---

<p class="h6">
	<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
</p>

<div class="post-image">
	<img src="{{ site.baseurl }}{{ page.related_image.path }}" alt="{{ page.related_image.alt }}" />
</div>

{{ content }}

{% include post/post_pagenation.html %}

<hr />

<div class="row justify-content-center">
	<div class="col-md-6 d-flex align-items-stretch">
		{% include post/post_meta.html %}
	</div>
	<div class="col-md-6 d-flex align-items-stretch">
		{% include post/related_posts.html %}
	</div>
</div>