---
layout: general
---

<p><img alt="{{ page.hero_image.alt }}" src="{{ site.baseurl }}{{ page.hero_image.path }}"></p>

{{ content }}

<h2>{{ page.posts_title }}</h2>

{% for post in site.categories[page.category] reversed %}
    <h4>
        <a href="{{ post.url }}">
            {{ post.title }}
        </a>
    </h4>
    <p class="pDate">{{ post.date | date: '%B %d, %Y' }}</p>
{% endfor %}

<!-- TODO: Replace this - just use the categories version -->
{% for post in site.tags[page.tag] reversed %}
    <h4>
        <a href="{{ post.url }}">
            {{ post.title }}
        </a>
    </h4>
    <p class="pDate">{{ post.date | date: '%B %d, %Y' }}</p>
{% endfor %}